@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://azure.microsoft.com/en-us/services/cognitive-services/speech-services/">Azure Speech Services</a>.</p>
</div>
