.App {
  text-align: center;
  background-color: rgb(255, 255, 255);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff00;
  display: flex;
  margin-top:30px;
  margin-bottom:20px;
 padding-left: 20px;
 text-align: left;

  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.Table-cell {
  white-space: break-spaces;
  line-height: normal !important;
}

.Table-cellError {
  white-space: break-spaces;
  line-height: normal !important;
  color: red;
}

.Table-cellWarning {
  white-space: break-spaces;
  line-height: normal !important;
  color: darkgoldenrod;
}

.Table-cellSuccess {
  white-space: break-spaces;
  line-height: normal !important;
  color: green;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
