# If only CPL/BatchTest
azure-functions
edit-distance
grpcio
grpcio-tools
protobuf
requests
six

# If all
azure-common
azure-nspkg
azure-storage
boto3
botocore
cachetools
certifi
cffi
chardet
cryptography
cycler
DateTime
docutils
google-api-core
google-auth
google-cloud-texttospeech
googleapis-common-protos
idna
jmespath
joblib
kiwisolver
libcst
mypy-extensions
numpy
pandas
proto-plus
pyasn1
pyasn1-modules
pycparser
pydub
pyparsing
python-dateutil
pytz
PyYAML
rsa
s3transfer
scipy
threadpoolctl
typing-extensions
typing-inspect
urllib3
zope.interface